*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(/background.jpg);
  background-position: center;
}

nav{
  display: flex;
  width: 80%;
  padding-left: 6rem;
  align-items: center;
}

nav, ul, li{
  display: flex;
  align-items: center;
  justify-content: start;
  list-style: none;
  padding-top: 2rem;
  margin: 10px 20px; 
}

nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
  font-weight: bold;

}

.detel {
  margin-left: 10rem;
  margin-top: 5rem;
}

.detel h1 {
  color: white;
    font-size: 3rem;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
  margin-bottom: 20px;
}

.detel h2 {
  color: white;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

span {
  color: rgb(255, 196, 0);
}